* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 10px;
  overflow: hidden;
}

h1 {
  font-size: 15px;
  margin-bottom: 10px;
}

/* Max popup height is 600 */
/* Max popup width is  800  */

#container {
  position: relative;
  align-items: left;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 400px;
}

#mdText {
  position: relative;
  width: 400px;
  height: 400px;
  max-height: 530px;
  max-width: 650px;
  font-size: 18px;
}

#mdText::placeholder {
  font-size: 18px;
  font-weight: bold;
}

